.inputsWrapper {
    display: flex;
    justify-content: space-around;
}

.inputsWrapper {
    padding-top: 35px;
    padding-bottom: 25px;
    &_div {
        .input__calc {
            display: flex;
            flex-direction: column;
            margin: 15px;
            label {
                margin-bottom: 15px;
                margin-top: 15px;
                font-family: 'Poppins', sans-serif;
                font-weight: 900;
                font-size: 20px;
            }
        }
    }
} 

.input__calc {
    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 5px 15px;
    border-radius: 15px;
    &:hover {
        border: 1px solid #000000;
    }
    &:focus {
        background-color: #FFF;
        border: 1px solid #000000;
    }
    input {
        border: none;
        background-color: #f5f5f5;
        outline: none;
        font-size: 20px;
        
    }
    span {
        font-size: 10px;
        padding-bottom: 3px;
    }

    select {
        background-color: #f5f5f5;
        border: none;
        outline: none;
        font-size: 20px;
    }
}

.red {
    border: 1px solid red;
}
.red:hover {
    border: 1px solid red;
}

.validation {
    transition: 0.5s ease-in-out;
    color: red;
    margin-left: 15px;
    font-size: 13px;
}